body{
    background: #dbdbdb;
    font-size:100px
}

.box{
    margin:0 auto;
    width:90%;
    max-width: 500px;
    font-size: 1em;
}


.box{
    height: 200px; 
    background: rgb(230, 230, 195);
}


html{
    font-size: 10px;
}
.parent{
    font-size: 2rem; /*  20px  */
}
.box{
    font-size:20px; 
    padding: 1em; /*  20px  */
    margin: 2em; /*  40px  */
}

